<extend name="Common/base" />
<block name="title">
    <title>微餐后台管理系统</title>
</block>
<block name="bread-crumb">
    <!--  路径地图  -->
    <ol class="breadcrumb">
        <li>餐桌管理</li>
        <li>新增餐桌</li>
    </ol>
</block>
<block name="main">
    <form <if condition="isset($_GET['id']) && $_GET['id']">action="{:U('Desk/edit')}"</if> method="post">
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="desk-name" class="h4">餐桌名称</label>
                <input type="text" class="form-control" id="desk-name" name="desk_name" value="{$desk.name}" />
            </div>
        </div>
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="desk-size" class="h4">餐桌容量</label>
                <input type="text" class="form-control" id="desk-size" name="desk_size" value="{$desk.capacity}" />
            </div>
        </div>
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="desk-intro" class="h4">餐桌介绍</label>
                <textarea name="desk_intro" id="desk-intro" class="form-control" cols="30" rows="5" placeholder="请在这里输入餐桌的介绍吧...">{$desk.intro}</textarea>
            </div>
        </div>
        <div>
            <if condition="isset($_GET['id']))">
                <input type="hidden" name="id" value="{$desk.id}" />
            </if>
        </div>
        <div class="form-group row desk-submit-btn">
            <button class="btn btn-primary" type="submit">提交</button>
        </div>
    </form>
</block>