<extend name="Common/base" />
<block name="title">
    <title>微餐后台管理</title>
</block>
<block name="bread-crumb">
    <!--  路径地图  -->
    <ol class="breadcrumb">
        <li>餐桌管理</li>
    </ol>
</block>
<block name="main">

    <div class="form-group">
        <button class="btn btn-primary" onclick="add_desk()">新增餐桌</button>
    </div>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>餐桌名称</th>
            <th>餐桌容量</th>
            <th>餐桌介绍</th>
            <th>操作</th>
        </tr>
        <volist name="desk_list" id="desk">
            <tr>
                <td>{$desk.id}</td>
                <td>{$desk.name}</td>
                <td>{$desk.capacity}</td>
                <td>{$desk.intro}</td>
                <td>
                    <a href="{:U('Desk/edit', array('id'=>$desk['id']))}">编辑</a>
                    <a data-toggle="modal" data-target="#myModal" href="{:U('Desk/delete', array('id' => $desk['id']))}">删除</a>
                </td>
            </tr>
        </volist>
    </table>
</block>
<block name="modal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        function add_desk(){
            var url = "{:U('Desk/add')}";
            window.location.href = url;
        }

        $("#myModal").on('hidden.bs.modal', function(){
            $(this).removeData("bs.modal");
        });
    </script>
</block>