<extend name="Common/base" />
<block name="title">
    <title>微餐后台管理</title>
</block>
<block name="bread-crumb">
    <!--  路径地图  -->
    <ol class="breadcrumb">
        <li>餐厅管理</li>
        <li>会员管理</li>
    </ol>
</block>
<block name="main">
    <!--  会员数据列表  -->
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>openid</th>
            <th>关注时间</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Adsadsu8732das</td>
            <td>2017-03-05</td>
            <td>
                <a href="#">他/她的预约</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Adsadsu8732das</td>
            <td>2017-03-05</td>
            <td>
                <a href="#">他/她的预约</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Adsadsu8732das</td>
            <td>2017-03-05</td>
            <td>
                <a href="#">他/她的预约</a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Adsadsu8732das</td>
            <td>2017-03-05</td>
            <td>
                <a href="#">他/她的预约</a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Adsadsu8732das</td>
            <td>2017-03-05</td>
            <td>
                <a href="#">他/她的预约</a>
            </td>
        </tr>
    </table>
    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</block>