<extend name="Common/base" />
<block name="bread-crumb">
    <!--  路径地图  -->
    <ol class="breadcrumb">
        <li>优惠券管理</li>
        <li>新增优惠券</li>
    </ol>
</block>
<block name="main">
    <form action="#">
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="coupon-perfix" class="h4">优惠券前缀</label>
                <input type="text" class="form-control" id="coupon-perfix" name="coupon_perfix" />
            </div>
        </div>
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="coupon-amount" class="h4">优惠额度</label>
                <input type="text" class="form-control" id="coupon-amount" name="coupon_amount" />
            </div>
        </div>
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="coupon-start" class="h4">开始时间</label>
                <input type="text" class="form-control datetimepicker" id="coupon-start" name="coupon_start" />
            </div>
        </div>
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="coupon-end" class="h4">结束时间</label>
                <input type="text" class="form-control datetimepicker" id="coupon-end" name="coupon_end" />
            </div>
        </div>
        <div class="form-group row desk-control">
            <div class="col-md-4">
                <label for="coupon-count" class="h4">优惠券数量</label>
                <input type="number" class="form-control" id="coupon-count" name="coupon_count" />
            </div>
        </div>
        <div class="form-group row desk-submit-btn">
            <button class="btn btn-primary" type="submit">提交</button>
        </div>
    </form>
</block>
<block name="script">
    <script>
        $(".datetimepicker").datetimepicker({
            format:'yyyy-mm-dd',
            autoclose:true,
            todayBtn:true,
            todayHighlight:true
        });
    </script>
</block>
