<extend name="Common/base" />
<block name="title">
    <title>微餐后台管理</title>
</block>
<block name="bread-crumb">
    <!--  路径地图  -->
    <ol class="breadcrumb">
        <li>优惠券管理</li>
    </ol>
</block>
<block name="main">
    <div class="form-group" style="padding-left: 10px;">
        <button class="btn btn-primary" onclick="add_coupon()">新增</button>
    </div>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>优惠前缀</th>
            <th>优惠额度</th>
            <th>优惠开始时间</th>
            <th>优惠结束时间</th>
            <th>创建时间</th>
            <th>优惠券数量</th>
            <th>操作</th>
        </tr>
        <volist name="coupon_list" id="coupon">
            <tr>
                <td>{$coupon.id}</td>
                <td>{$coupon.prefix}</td>
                <td>￥{$coupon.amount}</td>
                <td>{:date('Y-m-d H:i:s', $coupon['start_time'])}</td>
                <td>{:date('Y-m-d H:i:s', $coupon['end_time'])}</td>
                <td>{:date('Y-m-d', $coupon['create_time'])}</td>
                <td>{$coupon.acount}</td>
                <td>
                    <a href="{:U('Coupon/tickets', array('cid' => $coupon['id']))}">优惠券列表</a>
                </td>
            </tr>
        </volist>
    </table>
</block>

<block name="script">
    <script>
        function add_coupon(){
            var url = "{:U('Coupon/add')}";
            window.location.href = url;
        }
    </script>
</block>