<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <block name="title"></block>
    <!--  CSS样式文件  -->
    <!--  Bootstrap CSS Style  -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__PUBLIC__/css/lightbox.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css" />

    <!--  JS文件  -->
    <!-- JQuery  -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="__PUBLIC__/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
    <block name="style"></block>
</head>
<body>
    <block name="bread-crumb"></block>
    <block name="menu">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!--  导航栏主要栏目  -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">餐厅管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{:U('Customer/index')}">会员管理</a></li>
                                <li><a href="{:U('Common/intro')}">餐厅介绍</a></li>
                            </ul>
                        </li>
                        <li><a href="{:U('Order/index')}">预约管理</a></li>
                        <li><a href="{:U('Menu/index')}">菜单管理</a></li>
                        <li><a href="{:U('Coupon/index')}">优惠券管理</a></li>
                        <li><a href="{:U('Desk/index')}">餐桌管理</a></li>
                    </ul>
                    <if condition = "session('username')">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {:session('username')}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{:U('Common/logout')}">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </if>
                </div>
            </div>
        </nav>
    </block>
    <block name="main"></block>
    <block name="modal"></block>
</body>
<block name="script"></block>
</html>