<extend name="Common/base" />
<block name="title">
    <title>微餐后台管理</title>
</block>
<block name="bread-crumb">
    <!--  路径地图  -->
    <ol class="breadcrumb">
        <li>餐厅管理</li>
        <li>餐厅介绍</li>
    </ol>
</block>
<block name="main">
    <form action="" method="post">
        <div class="form-group" style="padding: 0 10px;">
            <label for="restaurant-intro" class="h3">餐厅介绍:</label>
        <textarea name="intro" id="restaurant-intro" class="form-control" cols="30" rows="10" placeholder="请在此处输入餐厅介绍...">{$intro}</textarea>
        </div>
        <div class="text-right" style="padding-right: 20px;">
            <button class="btn btn-primary" type="submit">确认修改</button>
        </div>
    </form>
</block>