<extend name="Common/base" />
<block name="title">
    <title>微餐后台管理系统</title>
</block>
<block name="bread-crumb">
    <!--  路径地图  -->
    <ol class="breadcrumb">
        <li>菜单管理</li>
    </ol>
</block>
<block name="main">
    <if condition="!isset($is_order_menu)">
        <div class="form-group" style="padding-left: 20px;">
            <button class="btn btn-primary" onclick="add_menu()">新增菜单</button>
        </div>
    </if>

    <!--  预约数据列表  -->
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>菜名</th>
            <th>价格</th>
            <th>缩略图</th>
            <th>添加时间</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        <volist name="menu_list" id="menu">
            <tr>
                <td>{$menu.id}</td>
                <td>{$menu.name}</td>
                <td>{$menu.price}</td>
                <td><a href="{$menu.pic}" data-lightbox="image-{$menu.id}" title="{$menu.name}">点击查看</a></td>
                <td>{:date('Y-m-d H:i:s', $menu['create_time'])}</td>
                <td>{$menu.remark}</td>
                <td>
                    <a href="{:U('Menu/edit', array('id'=>$menu['id']))}">编辑</a>
                    <a href="{:U('Menu/delete', array('id' => $menu['id']))}" data-toggle="modal" data-target="#myModal">删除</a>
                </td>
            </tr>
        </volist>
    </table>

    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</block>
<block name="modal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        function add_menu(){
            var url = "{:U('Menu/add')}";
            window.location.href = url;
        }

        $("#myModal").on('hidden.bs.modal', function(){
            $(this).removeData("bs.modal");
        });
    </script>
</block>